.footer {
  background-color: var(--background-color-footer);
  padding-top: 60px;
  padding-bottom: 60px;
}
.div-footer {
  display: flex;
  align-items: baseline;
}
.logotype-footer {
  font-family: var(--second-foyn);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--light-color-content);
  display: flex;
}
.footer-address {
  margin-top: 20px;
  font-style: normal;
}
.address-item:not(:last-child) {
  margin-bottom: 9px;
}
.address-link {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--light-color-content);
}
.contact-link-footer {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.footer-logotype-section {
  margin-right: 70px;
}
.footer-heading {
  color: #ffffff;
  margin-bottom: 20px;
}

.name-footer-form {
  align-content: center;
  width: 219px;
  height: 16px;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--light-color-content);
  margin-bottom: 20px;
}
.label-form {
  display: flex;
  padding: 0;
  margin: auto;
}
.footer-contact-input {
  margin-top: 20px;
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: var(--background-color-footer);
  color: var(--light-color-content);
  outline: none;
  transition: background-color 250ms linear;
  cursor: pointer;
}
.footer-contact-input:focus {
  border-color: var(--bt-menu-background);
}
.footer-contact-input::placeholder {
  font-family: var(--first-foyn);
  font-size: 16px;
  line-height: 1.25;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  padding-left: 16px;
}

.bt-footer-form {
  position: relative;
  margin-top: 30px;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--light-color-content);
  background: var(--modal-button-background);
  padding: 10px 62px 10px 29px;
  border-radius: 4px;
  margin-left: 12px;
  margin-top: auto;
  margin-right: auto;
  border-style: none;
  display: block;
  cursor: pointer;
  transition: background-color 250ms linear, color 250ms linear;
}
.bt-footer-form:hover,
.bt-footer-form:focus {
  background-color: var(--accent-color);
}

.svg-footer-form {
  position: absolute;
  top: 25%;
  right: 28px;
  width: 24px;
  height: 24px;
}
