.anvantages {
  padding-top: 94px;
  padding-bottom: 47px;
}
.anvantages__heading {
  @include font(14px, 700, 1.14, 0.03em);
  text-transform: uppercase;
  color: var(--title-color);
  margin-bottom: 10px;
}
.anvantages__tumb {
  display: flex;
  justify-content: center;
  align-items: center;
  @include wid(270px, 120px);
  background-color: var(--bt-menu-background);
  margin-bottom: 30px;
}
.anvantages__list {
  display: flex;
  align-items: center;
}
.anvantages-svg {
  @include wid(70px, 70px);
  display: flex;
  justify-content: center;
  align-items: center;
}
.anvantages__item {
  &:not(:last-child) {
    margin-right: 30px;
  }
}
