//mobail
@media screen and (max-width: 1200px) {
  .work {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .work {
    display: flex;
    padding-top: 47px;
    padding-bottom: 94px;
    margin-left: auto;
    margin-right: auto;
  }
  .anvantages-svg {
    @include wid(70px, 70px);
  }
  .work__list {
    display: flex;
    margin-left: -30px;
    margin-top: 50px;
  }
  .work__item {
    display: block;
    margin-left: 30px;
  }
  .work-nama__item {
    @include font(14px, 700, 1.14, 0.03em);
    color: var(--light-color-content);
  }
  .work__nama {
    background-color: rgba(47, 48, 58, 0.8);
    text-align: center;
    text-transform: uppercase;
    padding-top: 27px;
    padding-bottom: 27px;
    position: relative;
    margin-top: -70px;
  }
}
